body{
    background: #009BC4;
}
.contener{

    background: #33bb55
}

h1{
  text-align: center;  
}
p{text-align: center;
}

.calling{

    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;*/
    width: 4000%;
    background: #747474;
    height: 4000px;
    margin: auto;
}

